<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Copia Instagram </title>
    <link rel="StyleSheet"  href="style.css">

</head>


<body>
    <header>
        <div class="header__containerCompany">
            <div class="header__logo"> </div>
            <div class="header__letters"> Instagram </div>
        </div>
        <div class="header__search">
            <input type="text"> </input>
        </div>
        <div class="header__cotainerUser">
            <div class="header__brujula"></div>
            <div class="header__user"></div>
        </div>
    </header>
    <section class="stories">
        <div class="stories__bubbles"></div>
        <div class="stories__bubbles"></div>
        <div class="stories__bubbles"></div>
        <div class="stories__bubbles"></div>
        <div class="stories__bubbles"></div>
    </section>
    <main class="tabla">

        <article class="main__post">
            <section class="main__header">
                <div class="main__containerUser">
                    <div class="main__bubble"></div>
                    <div class="main__name"> Pepito </div>

                </div>
                <div class="main__options"> ooo </div>
            </section>
            <section class="main_picture">
                <figure><img src="https://fakeimg.pl/350x200/?text=World&font=lobster"> </figure>
            </section>
            <section class="main__footer">
                <div class="main__reactionContainer ">
                    <div class="main__heart"></div>
                    <div class="main__message"></div>
                </div>
                <div class="main__favourite"></div>
            </section>
            <section class="main__messageSent">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing el vero!<br> </p>
            </section>
        </article>
        <article class="main__post">
            <section class="main__header">
                <div class="main__containerUser">
                    <div class="main__bubble"></div>
                    <div class="main__name"> Pepito </div>

                </div>
                <div class="main__options"> ooo </div>
            </section>
            <section class="main_picture">
                <figure><img src="https://fakeimg.pl/350x200/?text=World&font=lobster"> </figure>
            </section>
            <section class="main__footer">
                <div class="main__reactionContainer ">
                    <div class="main__heart"></div>
                    <div class="main__message"></div>
                </div>
                <div class="main__favourite"></div>
            </section>
            <section class="main__messageSent">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing el vero!<br> </p>
            </section>
        </article>
        <article class="main__post">
            <section class="main__header">
                <div class="main__containerUser">
                    <div class="main__bubble"></div>
                    <div class="main__name"> Pepito </div>

                </div>
                <div class="main__options"> ooo </div>
            </section>
            <section class="main_picture">
                <figure><img src="https://fakeimg.pl/350x200/?text=World&font=lobster"> </figure>
            </section>
            <section class="main__footer">
                <div class="main__reactionContainer ">
                    <div class="main__heart"></div>
                    <div class="main__message"></div>
                </div>
                <div class="main__favourite"></div>
            </section>
            <section class="main__messageSent">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing el vero!<br>
                añshfpas fñaslmoeq jsmfñ aojsf </p>
            </section>
        </article>
    </main>
    <footer>

    </footer>
</body>

</html>